<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto Flask{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<header>
    <h1>Gerenciador de Jogos</h1>
    <nav>
        <ul>
            <li><a href="/jogoteca/recovery">Inicio </a></li>
            <li><a href="/jogoteca/create">Novo Jogo</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>

<footer class="copyrightText footer navbar-fixed-bottom">
    <p>
        Copyright &copy;2024 <a href="#">Uanderson Oliveira</a>. Todos os direitos reservados. <br>
        Jogoteca | IFTO Campus Palmas | Palmas, Tocantins
    </p>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
