<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JogoTeca</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>
<body>
    <header>
        <a href="#" class="logo">Uanderson <span>.</span></a>
        <div class="menuToggle" onclick="toggleMenu();"></div>
        <!-- Ícone para abrir/fechar o menu -->
        <ul class="navigation">
          <li><a class="link-destaque" href="/" onclick="toggleMenu();">Home</a></li>
          <li><a class="link-destaque" href="/jogoteca/create" onclick="toggleMenu();">Cadastrar Jogo</a></li>
        </ul>
      </header>
  
      <main>
        <section class="banner" id="banner">
          <div class="content">
            <h2>Jogoteca</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, totam beatae ab enim repudiandae exercitationem, sequi odio cumque officia consectetur necessitatibus atque voluptatibus quis fuga explicabo quaerat, quibusdam sit nulla?
            </p>

            <a href="/jogoteca/recovery" class="btn btn-projects" 
              ><i class="fa-solid fa-glasses"></i> Visualizar Projeto</a
            >

            <a href="https://www.linkedin.com/in/uandersonferreira" target="_blank" class="btn btn-linkedin"
              ><i class="fa-brands fa-linkedin-in"></i> LinkedIn</a
            >
            <a href="https://github.com/uandersonferreira" target="_blank" class="btn btn-github"
              ><i class="fa-brands fa-github"></i> GitHub</a
            >
            <a href="https://api.whatsapp.com/send?phone=63992701231" target="_blank" class="btn btn-whatsapp"
              ><i class="fa-brands fa-whatsapp"></i> WhatsApp</a
            >
          </div>
        </section>
</body>
</html>